<div class="form-group field-media">
    <label for="company" class=" form-control-label">{{ property }}</label>
    <input type="hidden" class="field-media-id" placeholder="Enter your company name" class="form-control" name="{{ property }}" value="{{ field.value }}">

    <figure>
        <img src="" class="field-media-img">
    </figure>
</div>