<!-- Header-->
<header id="header" class="header">

    <div class="header-menu">

        <div class="col-sm-7">
            <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-angle-left"></i></a>
            <div class="header-left">
                <button class="search-trigger btn-icon"><i class="lnr lnr-magnifier"></i></button>
                <div class="form-inline">
                    <form class="search-form" action="/backend/main/search" >
                        <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search" name="s">
                        <!--<button class="search-close" type="submit"><i class="fa fa-times"></i></button>-->
                    </form>
                </div>


                <h4 class="text-white d-inline-block">{{ title }}</h4>

            </div>
        </div>

        <div class="col-sm-5">
            <!--<a id="userAreaToggle" class="menutoggle pull-right"><i class="fa fa fa-angle-right"></i></a>-->

            {% if  application_info  %}
                <div class="info-popup dropdown float-right">
                    <a href="" class="btn-icon" data-toggle="dropdown"><span class="lnr lnr-question-circle"></span> </a>

                    <div class="user-menu dropdown-menu" style="width: 400px;height: 400px;background: #fff">
                        <div class="pl-5 pr-5 pb-3 pt-3">
                            <div class="text-center">
                                <span class="lnr lnr-{{ application_info.icon }} h1"></span>
                                <h5>{{ application_info.title }}</h5>
                            </div>
                            <hr>

                            <p>{{ application_info.description }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}

<a href="/" class="btn-icon float-right" ><span class="lnr lnr-earth" title="Vai al sito"></span> </a>



            <div class="info-popup dropdown float-right mr-3">
                <a href="" id="icon-performance" class="btn-icon" data-toggle="dropdown"><span class="lnr lnr-bug"></span> </a>

                <div class="user-menu dropdown-menu" style="width: 400px;height: 400px;background: #fff">
                    <div class="pl-5 pr-5 pb-3 pt-3">
                        <b>Load :</b> <span id="load1"></span> - <span id="load2"></span> - <span id="load3"></span>
                        <br>
                        <b>Ram :</b> <span id="freeram"></span> / <span id="totalram"></span>
                        <br>
                        <b>Disk : </b><span id="freedisk"></span> / <span id="totaldisk"></span> (<span id="useddisk"></span> )
                    </div>
                </div>
            </div>

        </div>
    </div>

</header><!-- /header -->
<!-- Header-->

<script>
    $(window).ready(function(){
        var getInfoUrl = "";


        function updateStats(){
            $.get("/backend/main/get-performance-stats",function ( d ) {
                d = JSON.parse(d);
                $("#load1").text(d.load[0]);
                $("#load2").text(d.load[1]);
                $("#load3").text(d.load[2]);

                $("#freeram").text( (d.freeram / 1024 ).toFixed(2) + "M" );
                $("#totalram").text( (d.totalram / 1024).toFixed(2) + "M" );

                $("#freedisk").text( (d.disk.free / 1024 / 1024 ).toFixed(2) + "M" );
                $("#totaldisk").text( (d.disk.total / 1024 / 1024).toFixed(2) + "M" );
                $("#useddisk").text( d.disk.used);


                if( d.load[0] > 1){
                    $("#icon-performance").addClass("danger");
                }else{
                    $("#icon-performance").removeClass("danger");
                }


            })
        }

        setInterval(function () {
            updateStats()
        },1000);
        updateStats();
    })
</script>