{% extends template_extend %}
{% block content %}

    <div class="text-center p-5">
        <i class="lnr lnr-warning h1"></i>
        <h1>Attenzione</h1>
        <h2>Non puoi effettuare questa operazione</h2>

        <p>Sembra che il tuo utente non abbia i permessi necessari per eseguire questa azione. Contatto  l'amministratore del sistema per ricevere più informazioni.</p>
    </div>

{% endblock %}