{% extends "base.twig" %}


{% block mainbody %}

    <div class="navbar mb-0">
        <figure class="navbar-brand">
            <img src="/backend/assets/img/echidna.png">
        </figure>

        <div class="text-center mt-2">
            <h5 style="font-weight: 800">Echidna Framework</h5>
        </div>
    </div>
    <hr>


    <div class="container " style="max-width: 60em">
        <h1 class="text-center">Benvenuto nel processo di installazione di Echidna</h1>
        <p class="mt-3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet elit accumsan, fermentum nibh a, molestie ligula. Aliquam a lectus fringilla, vulputate nulla ac, commodo odio. Quisque iaculis nisi nisi, ut scelerisque erat ultrices in. Phasellus magna elit, consectetur a rutrum at, pellentesque nec libero. Ut cursus augue id lacus tincidunt molestie. Cras sagittis mollis enim, ac cursus arcu tincidunt et. Praesent egestas ut massa nec mattis. Suspendisse potenti. Nulla sodales elit sit amet justo tristique luctus. Morbi scelerisque arcu sit amet interdum consectetur.
        </p>

        <hr>
        <a href="?step=db" class="btn btn-light float-right"><b>Cominciamo <i class="fa fa-chevron-right"></i></b> </a>
    </div>

{% endblock %}