{% extends "emails/conferma-ordine.twig" %}

{% block before %}
    <tr>
        <td>
            <h2 style="text-align:center">Ciao, è stato effettuato un nuovo ordine su DivaniLab!</h2>
        </td>
    </tr>
{% endblock %}