{% extends "base/template.twig" %}
{% block content %}



    {% include 'parti/slider.twig' %}

    <!--
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <img src="/media/livegennaio.jpg">
            <article>
                <figure>

                </figure>
                <h2>asd</h2>
            </article>
        </div>
        <div class="col-md-4 text-center">


            {% include "blocchi/dove-trovarmi.twig" %}
            <br>
            <h2>Prossime date</h2>
            <a href="http://www.songkick.com/artists/9381919" class="songkick-widget" data-theme="light" data-track-button="on" data-detect-style="true" data-background-color="transparent"></a>
            <script src="//widget.songkick.com/widget.js"></script>
        </div>
    </div>

</div>
-->


    <div class="container">
        {{ pagina.content | raw}}
    </div>

    {% for hook in pagina.hooks.contenutoCentrale %}
        {{ hook | raw }}
    {% endfor  %}

    <div class="hh2 bg-dot "></div>
    <div class="bg1">

    {% for hook in pagina.hooks.spazioCarousel %}
        {{ hook | raw }}
    {% endfor  %}

    {% for hook in pagina.hooks.prefooter %}
        {{ hook | raw }}
    {% endfor  %}

{% endblock %}