
<div class="row">
    {% for prodotto in prodotti %}
        <div class="col-6">
            {% include "ecommerce/product/thumbnail-preview.twig" with {prodotto : prodotto} %}
        </div>
    {%  endfor %}
</div>