{% extends template_extend %}
{% block content %}



    <div class="row">
        <div class="col-md-6">
            <a href="{{ router_service.getRoute(entita.categoria ~ ".list").build() }}" class="btn btn-primary">Gestisci Categorie</a>
        </div>

        <div class="col-md-6">
            <a href="{{ router_service.getRoute(entita.prodotto ~ ".list").build() }}" class="btn btn-primary">Gestisci Categorie</a>
        </div>

    </div>
{% endblock %}