<div class="card">


    <div class="card-body">
        <form class="form-ajax">
            {% for campo in campi %}

                {% include "fields/default.twig" with {
                    label : campo.nome,
                    property : campo.slug
                }%}

            {% endfor %}
        </form>

    </div>

</div>