{% extends "list.twig" %}


{% block content %}
    <h2>Gestione prodotti</h2>
    <br>
    <div class="card">
        <div class="card-body">
            <a href="{{ router_service.getRoute("ecommerce.catalogo.prodotto.gestione").build() }}" class="btn btn-primary">Impostazioni prodotto</a>
        </div>
    </div>
    {{ parent()}}
{% endblock %}