<section class="ajax-aggiungi">
    <div class="container">
        <div class="product-view row">
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="single-product">


                    <img src="" class="line-item-img" alt=""/>



                </div>

            </div>
            <div class="col-sm-6 col-md-8 col-lg-8 p-t3 p-b5 aggiunta-dati">
                <h2>{{ prodotto.name }}</h2>
                <div>
                    {{ prodotto.description }}
                </div>\


                <form action="/api/CLLineitem/update">

                    <div class="row p-t2">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="light">Nome dello sposo</label>
                                <input name="resource_meta_fields_attributes[0][meta_field_attributes][id]" id="meta_field_nome_sposo_id"  type="hidden" value="">


                                <input name="resource_meta_fields_attributes[0][meta_field_attributes][namespace]"  type="hidden" value="personalization">
                                <input name="resource_meta_fields_attributes[0][meta_field_attributes][name]"  type="hidden" value="nome_sposo">
                                <input class="form-control" name="resource_meta_fields_attributes[0][meta_field_attributes][value]" id="meta_field_nome_sposo_value" placeholder="Inserisci il nome della sposo">
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="light">Nome della sposa</label>
                                <input name="resource_meta_fields_attributes[1][meta_field_attributes][id]" id="meta_field_nome_sposa_id"  type="hidden" value="">

                                <input name="resource_meta_fields_attributes[1][meta_field_attributes][namespace]"  type="hidden" value="personalization">
                                <input name="resource_meta_fields_attributes[1][meta_field_attributes][name]"  type="hidden" value="nome_sposa">
                                <input class="form-control" name="resource_meta_fields_attributes[1][meta_field_attributes][value]" id="meta_field_nome_sposa_value" placeholder="Inserisci il nome della sposa">
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input name="resource_meta_fields_attributes[2][meta_field_attributes][id]" id="meta_field_indirizzo_id"  type="hidden" value="">

                                <input name="resource_meta_fields_attributes[2][meta_field_attributes][namespace]"  type="hidden" value="personalization">
                                <input name="resource_meta_fields_attributes[2][meta_field_attributes][name]"  type="hidden" value="indirizzo">
                                <label class="light">Indirizzo</label>
                                <input class="form-control" name="resource_meta_fields_attributes[2][meta_field_attributes][value]"  id="meta_field_indirizzo_value" placeholder="Inserisci il nome della sposo">
                            </div>
                        </div>
                    </div>




                    <div class="azioni">
                        <button class="btn btn-cool btn" type="submit"><i class="icon flaticon-shopping66"></i>SALVA DATI</button>
                        <a class="btn btn-cool btn" href="/carrello"><i class="icon flaticon-gift1"></i>VAI AL CARRELLO</a>
                        <a class="btn btn-cool btn" href="/checkout"><i class="icon flaticon-gift1"></i>VAI AL CHECKOUT</a>
                        <button class="btn btn-cool btn inserisci-in-seguito" type="button"><i class="icon flaticon-gift1"></i>INSERISCI IN SEGUITO</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</section>
