ul.payment-list.pull-right{
	list-style-type: none;	
    margin-right: 32px;
}
ul.payment-list.pull-right li{
	float: right;
	margin-left:10px;
}
.container.aiosafooter{
	margin-top:10px;
	margin-bottom:30px;
}
.logofooter{
	text-align: center;
}
.logofooter .logo{
	width: 50%;
}
.socialicons {
    margin: 10px 0px;
}
.socialicons a{
    color: #212529;
    margin-right: 1.1rem!important;
    margin-left: 1.1rem!important;
}
.socialicons a:hover{
    color: #a0a0a0;
}
.tabBlock {
    line-height: 1.8em;
    margin-top: 0.8em;
}
footer{
	padding-top: 30px;
/*	border-top: 1px solid grey;
	margin-top: 30px; */
	background-color: #FAFAFA;

  font-size: 1.1em;
    h3{
      font-size: 1.2em;
    }
}