{% extends "base/template.twig" %}
{% block content %}
    <br>

    <h1 class="ama text-center">Live @ Hochiminh (pt) / 14-01-2018</h1>
    <br>

    {% block beforeContent %}{% endblock beforeContent %}
    <div class="container">
        <p>
            {{ introduzione|raw }}
        </p>
    </div>
    <div class="container">
    {% if video|length > 0 %}
        <h2 class="text-center">Video</h2>
        {% for v in video %}
            <iframe width="480" height="315" style="max-width: 100%" src="https://www.youtube.com/embed/{{ v }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        {% endfor %}
    {% endif %}
    {% if foto|length > 0 %}
        <br>
        <br>
        <h2 class="text-center">Foto</h2>
        <section class="gallery">
            <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 120, "percentPosition": true,"fitWidth": true }'>
                {% for f in foto %}
                    <div class="{{ f.class }}"><img src="{{ f.src }}"></div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
    </div>
{% endblock content %}
{% block scripts %}
    parent()
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
{% endblock %}

