<div class="card">
    <div class="card-header">
        <strong>Prezzi per la spedizione corrente</strong>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col">
                    <label>Tipo</label>
                    <select name="type" class="form-control">
                        <option value="PESO">Peso</option>
                        <option value="PREZZO">Prezzo</option>
                    </select>
                </div>

                <div class="col">
                    <label>Minimo</label>
                    <input type="text" class="form-control" name="min">
                </div>

                <div class="col">
                    <label>Massimo</label>
                    <input type="text" class="form-control" name="max">
                </div>

            </div>
        </form>
    </div>
</div>