{% extends "base/template.twig" %}
{% block content %}
<br>

<h1 class="ama text-center">Live @ Hochiminh (pt) / 14-01-2018</h1>
<br>

<div class="container">
    <p>
        Il primo live del 2018 mi ha visto alle prese con un set semi-acustico molto aggressivo. All'HoChiMinh ci ero già passato molte
        volte con vari progetti musicali, ma questa prima di <b>phomea 2018</b> è stata emozionante.
        <br>
        Prima del concerto ci siamo soffermati un pò tutti sulla casa di fronte... karaoke, finestra aperta, cassa da almeno 14kw, Celine Dion come se piovesse e balli cinese mi hanno quasi spinto ad unirmi agli intrepidi vicini e lasciar perdere il mio live, ma alla fine è andata come doveva andare!

        <blockquote>Qui sotto trovate qualche video e foto della serata! bye bye</blockquote>
    </p>
</div>
<div class="container">
    <h2 class="text-center">Video</h2>
    <h2 class="text-center">Video</h2>
    <iframe width="550" height="315" style="max-width: 100%" src="https://www.youtube.com/embed/W5HZq3rUyQw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="550" height="315" style="max-width: 100%" src="https://www.youtube.com/embed/VWogNLK2f88" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <h2 class="text-center">Foto</h2>


    <section class="gallery">
        <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 120, "percentPosition": true,"fitWidth": true }'>
            <div class="grid-item"><img src="/media/live/hochiminh-14-01-2018/26757119_10156133715288793_5564241753736151015_o.jpg"></div>
            <div class="grid-item grid-item--width2"><img src="/media/live/hochiminh-14-01-2018/IMG_20180114_212542750_HDR.jpg"></div>
            <div class="grid-item"><img src="/media/live/hochiminh-14-01-2018/IMG_20180114_212553555_HDR.jpg"></div>
            <div class="grid-item grid-item--width2"><img src="/media/live/hochiminh-14-01-2018/IMG_20180114_222555607_HDR.jpg"></div>
            <div class="grid-item grid-item--width2"></div>
            <div class="grid-item"></div>
        </div>
    </section>

</div>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
{% endblock content %}
