{% extends "base/template.twig" %}
{% block content %}
<br>

<h1 class="ama text-center">Live</h1>
<br>

<div class="container">
    <p>
        Quisque odio orci, rutrum ut rutrum eget, mollis vitae quam. Suspendisse id convallis elit. Cras sit amet arcu ac ante semper molestie. Vivamus sed mauris eget augue facilisis vehicula in et metus. Pellentesque id egestas tellus, a laoreet orci. Etiam ultricies urna vel eros tincidunt, sed volutpat ante sagittis. Curabitur luctus tortor ut enim auctor tempus. Fusce cursus id justo in ultricies. Etiam in dui eget orci dictum blandit. Sed nisi lectus, scelerisque ut nunc sed, ornare ullamcorper ex. Nunc ullamcorper sit amet mi non iaculis. Nam ornare posuere placerat.
    </p>
</div>


<div class="container">
    <a href="http://www.songkick.com/artists/9381919" class="songkick-widget" data-theme="light" data-track-button="on" data-detect-style="true" data-background-color="transparent"></a>
    <script src="//widget.songkick.com/widget.js"></script>
</div>

<div class="container">
    <h2 class="text-center">Live passati</h2>


    <section class="live-passati">
        <div class="evento">
            <div class="date">
                <div class="start">THU 25 JANUARY</div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Lo spazio in via dell'Ospizio

                </div>
                <div class="col-md-4">
                    Pistoia, Italy
                </div>
            </div>
            <div class="buttons">
                <a class="ticket-link" href="/live/lo-spazio-di-via-dell-ospizio-25-01-2018" title="Vedi evento">Vedi evento</a>
            </div>
        </div>
        <div class="evento">
            <div class="date">
                <div class="start">SUN 14 JANUARY</div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    Circolo HoChiMinh
                </div>
                <div class="col-md-4">
                    Pistoia, Italy
                </div>
            </div>
            <div class="buttons">
                <a class="ticket-link" href="/live/hochiminh-pistoia-14-01-2018" title="Vedi evento">Vedi evento</a>
            </div>
        </div>
    </section>

</div>
{% endblock content %}