

<h3>Inviti inclusi nel prezzo</h3>
Gli inviti sono inclusi nel prezzo per questa partecipazione :
<br>
<br>
<br>
<br>

<div class="form-inputs inputs-float">
    <label>Inviti al ristorante: </label>
    <input type="text" class="form-control input-quantity" data-sumcalc="{{ prodotto.id }}"  id="embed_invitation"  value="0">


</div>
<div class="form-inputs inputs-float">
    <label>Inviti party: </label>
    <input type="text" class="form-control input-quantity" data-sumcalc="{{ prodotto.id }}"  id="embed_party_invitation"  value="0">


</div>
<br>