{% extends "base/template.twig" %}

{% block content %}
<main  class="mb-5 pt-5">
    <div class="container">
        {% block backButtonAccount %}
            <a href="{{ router_service.getRoute("frontend.ecommerce.user.account").build() }}" class="btn btn-light mb-5"><i class="fas fa-angle-left"></i> Torna al tuo account </a>
        {% endblock %}



        <div class="row">
            <div class="col-md-8">
                {% block innerAccount %}

                {% endblock %}

            </div>
            <div class="col-md-4">
                <section class="">
                    <h1 class="mb-5">Hai bisogno di aiuto?</h1>
                    <p>Se riscontri problemi nella gestione del tuo account o durante la procedura d'ordine contattaci e ti aiuteremo a procedere. Grazie! </p>


                    <div class="row">
                        <div class="col"><a href="mailto:assistenza@divanilab.it?subject=Richiesta%20di%20assistenza" class="btn btn-secondary btn-block">Contattaci via email<br>assistenza@divanilab.it</a> </div>

                    </div>
                </section>
            </div>


        </div>

    </div>
</main>
{% endblock %}