{% extends "ecommerce/user-account/base.twig" %}
{% block innerAccount %}

    <div class="container pt-5">
        <h1>Cambia password</h1>
        <form method="post">
            <div class="form-group">
                <label>Vecchia password</label>
                <input class="form-control" name="vecchia-password" type="password">
            </div>

            <div class="form-group">
                <label>Nuova password</label>
                <input class="form-control" name="nuova-password" type="password">
            </div>

            <div class="form-group">
                <label>Ripeti password</label>
                <input class="form-control" name="ripeti-password" type="password">
            </div>

            <button type="submit" class="btn btn-secondary ml-auto"><i
                        class="fas fa-save mr-3"></i> Salva
            </button>
        </form>
    </div>
{% endblock %}