{% extends "base/template.twig" %}

{% block content %}
<main  class="mb-5 pt-5">
    <div class="container">

        <div class="row">

            <div class="col-md-4 offset-md-4">
                <h1 class="mb-5">Accedi</h1>

                <form action="{{ router_service.getRoute("frontend.ecommerce.checkout.login").build() }}" method="post">
                    <input type="hidden" value="frontend.ecommerce.user.account" name="followroute">
                    <div class="form-group">
                        <label>Username o email</label>
                        <input type="text" name="username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control">
                    </div>



                    <div class="">
                        <button type="submit" class="btn btn-secondary d-block">Login</button>
                    </div>

                    <div>
                        Dimenticata la password? <a href="{{ router_service.getRoute("frontend.ecommerce.user.account.recuperapassword").build() }}">Recupera password</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</main>


{% endblock %}
