{% extends "base/template.twig" %}
{% block content %}

    <div class="container pt-5">

        <div class="row">

            <div class="col-6 offset-3 text-center">
                <h2 class="mb-0 pb-2">Richiesta inviata</h2>
                <h2>
                <span class="fas fa-check text-success"></span>
                </h2>
                <p>Ti abbiamo inviato una mail con le informazioni per recuperare la tua password.</p>
                <p>Puoi chiudere questa pagina e proseguire con le informazioni ricevute per email. Grazie!</p>
            </div>
        </div>
    </div>
{% endblock %}