{% extends "base/template.twig" %}
{% block content %}

    <div class="container pt-5">

        <div class="row">

            <div class="col-6 offset-3">
                <h1>Recupera password</h1>
                <p>Se non ricordi la tua password per accedere all'account inserisci l'indirizzo e-mail con il quale ti sei registrato e chiedi una nuova password.</p>
                <p>La nuova password ti verrà inviata al tuo indirizzo e-mail e potrai modificarla successivamente tramite la tua area personale.</p>
                <form method="post">
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" name="email">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-secondary">Resetta password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}