{% extends template_extend %}


{% block content %}
<div class="card">
    <div class="card-body">

        {% for ricerca in ricerche %}
            <a href="/backend/ricerche/do/{{ ricerca.id }}" class="btn btn-light text-left btn-block">
                <div class="row">
                    <div class="align-items-center">
                        <span class="lnr lnr-magic-wand h3  ">
                    </div>
                    <div class="col">
                        <h3>{{ ricerca.nome }}</h3>

                        {{ ricerca.descrizione |raw }}
                    </div>
                    <div class="align-items-center">
                        <span class="lnr lnr-chevron-right h3  ">
                    </div>

                </div>
            </a>

        {% endfor %}

    </div>
</div>
{% endblock %}