{% extends "base/template.twig" %}
{% block content %}

    <div class="container">
        {{ pagina.content | raw}}
    </div>

    {% for hook in hooks.contenutoCentrale %}
        {{ hook | raw }}
    {% endfor  %}

    <div class="hh2 bg-dot "></div>
    <div class="bg1">

    {% for hook in hooks.spazioCarousel %}
        {{ hook | raw }}
    {% endfor  %}

    {% for hook in hooks.prefooter %}
        {{ hook | raw }}
    {% endfor  %}

{% endblock %}