@colorMain : #ce4d4d;

html{
  height: 100%;
}
body,html{
  font-family: 'Montserrat', sans-serif;
  font-size:12px;
  min-height: 100%;
  margin:0;
  padding:0;

}

img{
  max-width: 100%;
}

.row{
  //width: 100%;
}
a{
  color: #ce4d4d;
  text-decoration: none;
  
  &:hover{
    color: #000;
  }
}

p {
  margin: 0 0 1em;
  padding: 0;

  line-height: 1.5em;
  font-size: 1.1em;
}


h1{
  font-size: 2em;
}

@media (min-width: 1200px) {
  .container {
    width: 90%;
    max-width: 1400px;
    position: relative;
  }
}

input{
  border-radius: 0.3em !important;
}

h2 {
  margin: 0;
  padding: 0 0 1em;
  font: 1.833em/1em "Montserrat", sans-serif;
  text-transform: uppercase;

  font-weight: 600;
}

.sticky-top{
  top:61px;
  z-index: auto;
}
.sticky-bottom{
  bottom:0;
  z-index: auto;
}

@import "less/buttons";
@import "less/forms";
@import "less/header";
@import "less/breadcrumbs";
@import "less/home";
@import "less/search-bar";
@import "less/prodotto";
@import "less/carrello";
@import "less/checkout";
@import "less/common";
@import "less/categoria";
@import "less/alerts";
