
<div class="checkout-steps">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="checkout-step">
                    <span class="number">1</span>
                    <span class="label">Account</span>
                </div>
            </div>
            <div class="col">
                <div class="checkout-step">
                    <span class="number">2</span>
                    <span class="label">Spedizione</span>
                </div>
            </div>
            <div class="col">
                <div class="checkout-step">
                    <span class="number">3</span>
                    <span class="label">Riepilogo</span>
                </div>
            </div>
            <div class="col">
                <div class="checkout-step">
                    <span class="number">4</span>
                    <span class="label">Pagamento</span>
                </div>
            </div>
        </div>
    </div>
</div>