.btn{
  border-radius: .2em;
  padding:.5em 2em;
  font-weight: bold;
  cursor: pointer;

}

.btn-secondary{
  background: #000;
}


.btn-primary{
  background: #F2E1D2;
  border-color: #baa695;

  color: #333;
  font-weight: bold;

  &:hover{
    color: #000;
    background-color: #fff;
    border-color: #eee;
  }
}

.btn-white{
  color: #000;
  border-color:#000;
  background: #fff;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
  background: @colorMain;
  border-color: @colorMain;
}
.btn-primary.focus, .btn-primary:focus{
  box-shadow: 0 0 0 0.2rem @colorMain;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
  box-shadow: 0 0 0 0.2rem @colorMain;
}