{% set prodottoAggiuntivo = prodottoAggiuntivo[0] %}

<div class="rect-nohover" ng-controller="Accordion">
    <h4 ng-click="toggleAccordion()"><i class="" ng-class="{'flaticon-up22' : open, 'flaticon-add133': !open}"></i> Ringraziamenti</h4>
        <p ng-if="open">
            Un biglietto aggiuntivo alla partecipazione, comprensivo di busta, per ringraziare l'invitato della sua presenza.
            <span class="over-show-preview">
                            <i class="flaticon-view9  "></i>
                            <span class="over-preview">
                                <img src="/assets/img/ringraziamenti/BIANCO.jpg">
                                <img src="/assets/img/ringraziamenti/AVORIO.jpg"
                            </span>
                        </span>
        </p>
        <div ng-if="open"  class="item" data-relatedtype="thanksgiving" data-relatedto="{{ prodotto.id }}" data-relatedid="prodottoAggiuntivo.id">
            <input type="hidden" value="<?=$value['id']?>" class="product_id">
            <div class="text">
                <span class="title"><input type="checkbox" class="check_related"> {{ prodottoAggiuntivo.name }}</span>
                ( + {{ prodottoAggiuntivo.price.formatted_amount }} cad.)<br><br>
                <!--<span class="description">Incluso</span>-->
                <div class="form-inputs inputs-float">

                    <label>Scegli la quantita:</label>
                    <input type="text" class="form-control input-quantity" name="quantity" value="1">
                </div>
            </div>
        </div >
</div>