
<div class="container pt-5 pb-5">
    {% if banners[0].link %}<a href="{{ banners[0].link }}">{% endif %}
        <img src="{{ banners[0].media }}" alt="{{ banners[0].alt }}">
    {% if banners[0].link %}</a>{% endif %}
</div>