<div class="form-group">
    <label for="company" class=" form-control-label">{{ field.label ? field.label : property }}</label>

    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-font"></i></span>
        </div>
        <input type="text" id="company" placeholder="Enter your company name" class="form-control" name="{{ property }}" value="{{ field.value }}">
    </div>
</div>