<p>
    <strong>Phomea</strong> nasce come progetto solista di <strong>Fabio Pocci</strong> già membro di <strong>S.U.S. e Sparflatz</strong>.
</p>
<p>
    Dal 1999 al 2005 vengono realizzati 4 demo/cd totalmente autoprodotti e registrati in autonomia, tutti molto diversi tra loro per genere e sonorità, fino ad arrivare, nel 2006, alla registrazione di <strong>Infiltrazioni Sonore</strong> ( musica per menti dilatate ).
</p>
<p>
    In questo periodo, nascono anche gli <strong>Sparflatz</strong> con il progetto “La quadratura dell’uomo” ( dove Fabio suona voce e chitarra , progetto finito dopo soli 3 anni ) e Fabio entra a far parte dei <strong>SUS</strong> ( dove Fabio suona chitarra,tastiera,batteria,basso - progetto con il che realizzerà 2 dischi e fino al 2014 ).
</p>
<p>
    Il progetto solista <strong>phomea</strong> continua però in parallelo ai 2 gruppi, realizzando parecchie date live nella provincia di Pistoia tra le quali quelle in apertura delle band americane <strong>Arbouretum</strong> e <strong>Beach house</strong>.
</p>
<p>
    Dal 2011, al progetto phomea si aggiungono il chitarrista <strong>Raffaele Baccolini</strong> e il bassista <strong>Matteo Giomi</strong> ( già presenti negli Sparflatz ).
    Questa sarà la formazione che porterà <strong>phomea</strong>, dopo una discreta attività live, tra cui le date ad <strong>Officina Giovani</strong> (PO) e <strong>Melos</strong> (PT) insieme a <strong>"Wassilij Kropotkin & La Duma"</strong> ), alla stesura e registrazione del <strong>primo EP ufficiale</strong> del progetto, <strong>La stessa condizione</strong>, uscito nel 2012 per etichetta <strong>SalmonRec.</strong>
</p>
<p>
    Dal 2013 in poi, phomea, tornato alla sua forma di progetto solista, porta in giro un live semi-acustico in varie serate nel pistoiese, tra cui la data in apertura a <strong>Marco Parente</strong> nel 2017, e getta le basi per il <strong>primo LP ufficiale</strong> che uscirà nel <strong>2018</strong> per etichetta <strong>MelaVerde Records</strong>.
</p>
<p>
    Ad oggi <strong>phomea</strong> porta sul palco un <strong>live semi-acustico</strong>, <strong>ricco di dinamiche e sfumature</strong>. Un live <strong>teso, malinconico e vero</strong>, che esplode in un boato assordante, per poi sussurarti nell’orecchio, accompagnato da voce, chitarra e loop station.

</p>