<!-- Services -->
<section class="services-block hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <a href="javascript:void(0)" class="item anim-icon"><span class="icon"><img src="/assets/images/anim-icon-1.gif" data-hover="/assets/images/anim-icon-1-hover.gif" alt=""/></span><span class="title">Spedizione gratuita in 2 settimane</span></a>


            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <a href="javascript:void(0)" class="item anim-icon"><span class="icon"><img src="/assets/images/anim-icon-2.gif" data-hover="/assets/images/anim-icon-2-hover.gif" alt=""/></span><span class="title">Solo 45 euro messa in stampa</span></a>
            </div>
            <div class="col-xs-12 col-sm-4 col-lg-4">
                <a href="javascript:void(0)" class="item anim-icon"><span class="icon"><img src="/assets/images/anim-icon-3.gif" data-hover="/assets/images/anim-icon-3-hover.gif" alt=""/></span><span class="title">Supporto 24/7 </span></a>
            </div>
        </div>
    </div>
</section>
<!-- //end Services -->
