<div class="{{ dimension == 3 ? "col-sm-12" : ( dimension == 2 ? "col-sm-12 col-md-6" : "col-lg-4 col-md-4" ) }}">

    <div class="card-header bg-primary container">
        <div class="row">
            <div class=" p-2 text-white pl-4">{{ widget_title }}</div>
            <div class="ml-auto dropdown">
                {% if admin_user.checkPermission("backend.widgets.edit") %}
                <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                    <i class="fa fa-cog"></i>
                </button>
                {% endif %}
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="dropdown-menu-content">
                        <a class="dropdown-item" href="{{ router_service.getRoute(widget.getEntity()~".mod").build({id:widget.id}) }}"><i class="fa fa-edit mr-2"></i> Modifica</a>
                        <a class="dropdown-item" href="{{ router_service.getRoute(widget.getEntity()~".delete").build({id:widget.id}) }}"><i class="fa fa-trash mr-2"></i> Rimuovi</a>
                    </div>
                </div>
            </div>
            <br class="clearfix">
        </div>
    </div>
   {% block content %}
   {% endblock %}
</div>