 {% extends "main/widgets/views/widget_base.twig" %}
    {% block content %}

        <div class="bg-flat-color-{{ color }}">
            <div class="card text-white  ">
                <div class="card-body pb-0">

                    <h4 class="mb-0">
                        <span class="count">{{ value }}</span>
                    </h4>
                    <p class="text-light">{{ label }}</p>


                    <div class="chart-wrapper px-0" style="height:70px;" height="70">
                        <canvas id="widgetChart1"></canvas>
                    </div>

                </div>

            </div>
        </div>
    {% endblock %}

