<form class="contact-form" action="{{ form.action }}" method="post">
        <input type="hidden" name="form_id" value="{{ form.id }}">
        <input type="hidden" name="current_url" value="{{ current_url }}">
    <fieldset>
        <label>Nome e cognome</label>
        <input class="form-control" name="nome" placeholder="Nome">
    </fieldset>

    <fieldset>
        <label>Email</label>
        <input class="form-control" name="email" placeholder="Indirizzo email">
    </fieldset>
    <fieldset>
        <label>Messaggio</label>
        <textarea class="form-control" name="messaggio" placeholder="Nome"></textarea>
    </fieldset>

    <input type="submit" class="btn btn-dark">

</form>