<!-- Navbar -->
<header class="header-checkout {{ headerClass }}" style="position: relative">

    <section class="navbar">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <div id="mainmenu" class="container">
                        <a href="/">
                            <img class="logo logo-black" src="/assets/img/logo/logo-lab.png" alt="Cartiamo">
                        </a>


                        <h1>Divani Lab</h1>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- //end Navbar height -->
</header>
<!-- //end Navbar -->
