
<div class="text-center p-5">

    <div class="row  ">
        <div class="col-md-6">
            <p>
                <i class="fas fa-shopping-cart" style="font-size: 5em;"></i>
            </p>

            <h2 class="mt-5">Il tuo carrello è vuoto</h2>
            <p>Non hai ancora aggiunto oggetti al tuo carrello. Prova a fare un giro su <strong>DivaniLab</strong> <br>e scoprirai tantissimi <strong>divani</strong> e <strong>poltrone</strong> per arredare al meglio il tuo salotto!</p>
            <p>
                <a href="/divani" class="btn btn-dark">Scopri i divani</a>
                <a href="/poltrone" class="btn btn-outline-dark">Scopri le poltrone</a>
            </p>
        </div>

        <div class="col-md-6">
            <p>
                <i class="fas fa-gift" style="font-size: 5em;"></i>
            </p>

            <h2 class="mt-5">Divani e poltrone outlet</h2>
            <p>Ehy, non ti dimenticare di dare un occhio alla nostra sezione <strong>outlet</strong>,<br> ci puoi trovare tantissimi divani e poltrone in pronto consegna a prezzi convenienti!</p>
            <p><a href="/outlet" class="btn btn-danger">Divani e poltrone a sconto</a> </p>
        </div>
    </div>
</div>