{% extends "base/template.twig" %}

{% block content %}
    <div class="container">
        <h1 class="ama text-center">{{ content.h2 }}</h1>

        <div class="row">
            <div class="col-md-8 content">
                {{ content.content|raw }}
            </div>
            <aside class="col-md-4 aside">
                {{ content.aside|raw }}
            </aside>
        </div>

    </div>
{% endblock content %}