{% extends "base/template.twig" %}
{% block content %}

    <section id="slide-home">

        <img src="/assets/img/slide-home.png">

        <article class="text-center">
            <h2>Qualità artigiana in fabbrica!</h2>
            <p>
                Tutti i <strong>divani</strong> e le <strong>poltrone</strong> DivaniLab sono realizzati a mano dai nostri artigiani che grazie alla loro esperienza e ai materiali di alta qualità realizzano <strong>prodotti unici</strong> dal design moderno ed elegante.<br />
                Scopri tutti i prodotti della sezione <strong><a href="#">Outlet</a></strong> in <strong>pronta consegna</strong> a prezzi imperdibili!<br />
                <span class="evid">Sconti fino al 70%</span>
            </p>

            <div class="text-center">
                <a href="" class="btn btn-primary">Vai ai prodotti in offerta!</a>
            </div>
        </article>
    </section>

    <div class="container text-center mt-5">
        <h2>Trova il tuo divano ideale</h2>
        <p> Tutte le nostre collezioni sono disponibili con <strong>rivestimento in pelle</strong>, <strong>eco-pelle</strong> o <strong>tessuto</strong>.<br />Cerca il divano ideale e personalizzalo secondo i tuoi gusti.</p><p>Il tuo divano verrà <strong>realizzato su misura</strong> in base al rivestimento selezionato</p>
        {% include "parti/barra-ricerca.twig" %}
    </div>

    {% for hook in pagina.hooks.prodottiInEvidenza %}
        {{ hook | raw }}
    {% endfor  %}

    <div class="container">
        {{ pagina.content | raw}}
    </div>


    {% for prodotto in prodotti %}
        {% include "parti/anteprima-prodotto.twig" with {prodotto : prodotto} %}
    {% endfor %}

    <!--
    <div class="anteprima-prodotto mb-5">
        <div class="row">
            <div class="col">
                <img src="/assets/img/mocked/divan1.png">
            </div>
            <div class="col">
                <img src="/assets/img/mocked/divano1ambient.png">
            </div>
        </div>

        <section class="info">
            <div class=" ">
                <div class="row">
                    <div class="col">
                        <h2>Cecilia</h2>
                        <p>
                            Lorem ipsum d
                            olor sit amet, consectetur adipiscing elit. Cras dapibus vulputate diam eu pretium. Mauris elit orci, ultricies id fermentum vel, porta et eros. Vestibulum condimentum lectus in convallis feugiat. Sed vulputate fringilla felis. Aliquam ut arcu et dui feugiat scelerisque eu quis diam. Mauris placerat congue dui sit amet blandit. Phasellus condimentum libero vel velit auctor, sit amet tincidunt velit varius.
                        </p>
                    </div>
                    <div class="col">
                        <span class="price">1.200€</span>
                        <span class="old-price">1.600€</span>

                        <div class="azioni-veloci">
                            <div class="row mb-4">
                                <div class="col-12">
                                    <a href="" class="btn btn-primary d-block">Compra subito</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <a href="" class="btn btn-primary d-block">Compra subito</a>
                                </div>
                                <div class="col-6">
                                    <a href="" class="btn btn-primary d-block">Compra subito</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <div class="anteprima-prodotto">
        <div class="row">
            <div class="col">
                <img src="/assets/img/mocked/divano2ambient.png">
            </div>
            <div class="col">
                <img src="/assets/img/mocked/divano2.png">
            </div>
        </div>

        <section class="info">
            <div class=" ">
                <div class="row">
                    <div class="col">
                        <h2>Cecilia</h2>
                        <p>
                            Lorem ipsum d
                            olor sit amet, consectetur adipiscing elit. Cras dapibus vulputate diam eu pretium. Mauris elit orci, ultricies id fermentum vel, porta et eros. Vestibulum condimentum lectus in convallis feugiat. Sed vulputate fringilla felis. Aliquam ut arcu et dui feugiat scelerisque eu quis diam. Mauris placerat congue dui sit amet blandit. Phasellus condimentum libero vel velit auctor, sit amet tincidunt velit varius.
                        </p>
                    </div>
                    <div class="col">
                        <span class="price">1.200€</span>
                        <span class="old-price">1.600€</span>

                        <div class="azioni-veloci">
                            <div class="row mb-4">
                                <div class="col-12">
                                    <a href="" class="btn btn-primary d-block">Compra subito</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <a href="" class="btn btn-primary d-block">Compra subito</a>
                                </div>
                                <div class="col-6">
                                    <a href="" class="btn btn-primary d-block">Compra subito</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>-->



    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-8">
                <h2>Artigianato Made in Italy</h2>
                <h3>Il piacere di un divano fatto a mano</h3>
                <p>
                    <strong>DivaniLab</strong> si distingue per la <strong>qualità dei materiali</strong> utilizzati in tutti i modelli, per la <strong>cura al dettaglio</strong> dei nostri progettisti... e per <strong>l'esperienza dei mastri artigiani</strong> nel realizzarli. Tutto questo avviene in Italia, nel cuore della Toscana. 
                    <br />
                    Il risultato è un divano bello, comodo, piacevole al tatto e perfetto per completare il vostro arredamento.</p>
                    <p>Avete già un televisore? <strong>Un mese di Netflix</strong> per godervi il nuovo divano ve lo offriamo noi! 
                </p>
            </div>
            <div class="col-4">
                <ul>

                </ul>
            </div>
        </div>
    </div>



    <section class="anteprima-landing">
        <img src="/assets/img/mocked/divanogrosso.png">
        <div class="info">
            <div class="container text-center">
            <h2>Personalizzato o in Pronta consegna?</h2>
            <div class="row">
                <div class="col-6 pr-5">
                    <p>
                        <strong>Nuova collezione: tutto su misura.</strong><br />
                        DivaniLab realizza il vostro <strong>divano su misura</strong> in base al rivestimento e alle dimensioni che sceglierete durante l'acquisto.<br />Pertanto la consegna di tutti i nuovi modelli avviene in <strong>2/3 settimane</strong>... giusto il tempo di realizzare il vostro prodotto personalizzato e consegnarlo direttamente a casa vostra!
                    </p>
                    <a href="" class="btn btn-secondary">Nuova Collezione</a>
                </div>
                <div class="col-6 pl-5">
                    <p>
                        <strong>Outlet: pronta consegna.</strong><br />
                        La sezione Outlet raccoglie modelli realizzati in stock o di precedenti collezioni. Non è possibile personalizzare questi prodotti perché sono già <strong>disponibili in magazzino</strong> e potranno essere consegnati a casa vostra entro <strong>2-3 giorni lavorativi</strong>... la qualità è sempre la stessa, in più è perfetto per chi non sa aspettare! ;-)
                    </p>
                    <a href="" class="btn btn-secondary">Outlet</a>
                </div>
            </div>
            </div>
        </div>
    </section>

    <div class="hh2 bg-dot "></div>
    <div class="bg1">

    {% for hook in pagina.hooks.spazioCarousel %}
        {{ hook | raw }}
    {% endfor  %}

    {% for hook in pagina.hooks.prefooter %}
        {{ hook | raw }}
    {% endfor  %}


{% endblock %}