{% extends "base/template.twig" %}


{% block content %}
    
    {% for hook in content.hooks.banner %}
        {{ hook | raw }}
    {% endfor  %}

    <div class="container">
        <h1 class="ama text-center">{{ content.h2 }}</h1>

        <div class="content">
            {{ content.content|raw }}
        </div>
    </div>
{% endblock content %}