html,body{
    font-size: 13px;
}
.btn{
    border-radius: 5px;
    padding: .375rem 1.5rem;
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

form [type="submit"]{
    overflow: hidden;
    position: relative;
}

form.loading [type="submit"]{
    pointer-events: none;
    color: transparent;
    position: relative;
    overflow: hidden;
}
form [type="submit"]:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
    top: 100%;
    position: absolute;
    left: 0;
    opacity: 0.8;
    z-index: 1;
    border-radius: inherit;
    transition: all 100ms;
}

form.loading [type="submit"]:after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
}
form.loading [type="submit"]:before{
    content: '';
    width: 1em;
    height: 1em;
    border: 3px solid #fff;
    border-top-color: transparent;
    border-radius:100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.5em;
    margin-left: -0.5em;
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
    z-index: 2;
}


.header-left.open .search-trigger{
    display: none;
}
.header .form-inline{
    background:transparent;
    position: relative;
    width: auto;
    height:auto;
}
.header-left .form-inline {
    display: inline-block;
    opacity: 0;
    position: absolute;
    pointer-events: none;
}
.header-left.open .form-inline {
    display: inline-block;
    opacity: 1;
    position: relative;
    pointer-events: auto;

}
header .form-inline .search-form input[type="text"]{
    background: #fff;
    padding: 6px 6px 6px 30px;
    border-radius: 25px;
    width: 0px;
    transition: all 300ms;
}
.header-left.open .form-inline .search-form input[type="text"]{
    padding: 6px 6px 6px 40px;
    width: 200px;
}
header .form-inline .search-form{
    height:auto;
}
header .form-inline .search-form button{
    left: 15px;
    color: #000;
}
.navbar,.navbar .navbar-nav li.menu-item-has-children .sub-menu{
    background: transparent;
}
aside.left-panel{
    background: #202020;
    background: #e8e9e7;
    background: #f5f5f5;
    border-right: 1px solid #d8d8d8;
    width: 220px;
    padding:0;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
}
.navbar .navbar-nav li.menu-item-has-children a:hover:before{
    color: inherit;
}
.left-panel .nav li{
    padding:0 20px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}

.left-panel .nav li:hover,.menu-item-has-children.dropdown.open{
    padding:0 20px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    background: rgba(0,0,0,0.03);
}

.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:focus, .navbar .navbar-nav > .active > a:hover ,.navbar .navbar-nav li > a{
    color: #333!important;
}
.navbar .navbar-nav li > a{
    font-family: 'Roboto', sans-serif;
}

.navbar .menu-title{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    color: #333;
    padding-left: 25px;
}

.navbar .navbar-nav li > a:hover, .navbar .navbar-nav li > a:hover .menu-icon{
    color: #000!important;
}
.navbar .navbar-nav li > a .menu-icon {
    color: inherit;
    float: left;
    margin-top: 6px;
    width: 37px;
    text-align: left;
    z-index: 9;
    font-size: 18px;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu{
    padding: 0 0 0 0;
    margin-left: 11px;
    border-left: 1px solid #ccc;
    margin-bottom: 10px;
}

.navbar .navbar-nav li.menu-item-has-children .sub-menu li{
    margin-bottom: 2px;
}
.navbar .navbar-nav li.menu-item-has-children .sub-menu li:hover{
    background: rgba(0,0,0,0.2);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.btn-transparent{
    background: transparent;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
   border-radius:0;
}
#list-card-content .card-header .btn:hover {
    background: #eee;
    color: #000;
    transform: scale(1.2);
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
}
#list-card-content .card-header .btn {
    transition: all 100ms;
    margin-top: 7px;
    margin-left: 10px;
    border-radius: 100%;
    /* padding: 2em !important; */
    display: inline-block;
}
#list-card-content .card-header .btn.handle {
    margin-left: -10px;
    margin-right: 10px;
}
#list-card-content .card-header{
    font-size: 0.8em;
    background: transparent;
}

.card-header{
    background: transparent;
}
.content {
    position: relative;
    display: block;
    max-width: 100%;
    margin: 0 auto;
    float: none;
}

.nav-tabs{
    position: relative;
    z-index: 2;
}

.content > .nav-tabs{
    position: sticky;
    top:0;
    background: #fff;
}

.nav-tabs + .tab-content{
    margin-top: -1px;
}

.open aside.left-panel .navbar .navbar-nav li.menu-item-has-children .sub-menu {
    right: -170px;
    border: none;

    background: #202020;

}
.open aside.left-panel .navbar .navbar-brand.hidden {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border: none;
    margin-top:0.1em;
}

.navbar .navbar-brand{
    background: #fff;
    padding: 0.5em;
    border-radius: 100%;
    width: 3em;
    height: 3em;
    position: relative;
    display: block;
    margin:0 auto;
    margin-top: 0.5em;
}
.navbar .navbar-brand img{
    max-width: 100%;
    vertical-align: top;
}

.open #menuToggle{
    display: none;
}

.input-group-text{
    background: transparent;
}

.card {
    border-radius: 0.3rem;

    /*display: inline-flex;
    flex: 1;*/
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    flex-basis: 80em;
}

.btn-icon{
    padding: 0;
    width: 2em;
    height: 2em;
    line-height: 2em;
}

.card-body {

    max-width: 80em;
    align-self: center;
    justify-self: center;
    width: 100%;
}

.card-body-table{
  max-width: 100%;
    padding:0;
}

.btn-xs{
    font-size: .8em;
    line-height: 1.5;
    padding: 0.3em 1.5em;
}

.lista-thumbnail figure{
    height:200px;
    width:200px;
    overflow: hidden;
    position: relative;
}

.lista-thumbnail figure img{
    width: 100%;
    height:auto;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

/* image dropper */
.image-dropper {
    border: 0.4em dashed rgba(0,0,0,0.1);
}

.image-dropper.is-dragover{
    background: #fff;
}


.image-dropper span{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 5em;
    padding: 0.5em;
    text-align: center;
    display: block;
    color: rgba(0,0,0,0.2);
    pointer-events: none;
}

.image-dropper:after{
    content: '';
    clear: both;
}

.image-dropper .thumbnail{
    width: 100px;
    height: 100px;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
    float: left;
    margin: 0.5em;
}
.image-dropper .thumbnail.uploading{
    border: 1px solid #f00;
}
.image-dropper .thumbnail img{
    max-width:100%;
    max-height: 100%;
}
.image-dropper:after{
    content:'';
    clear:both;
    display: block;
}

/* file browser */

.fileBrowser-list{
    list-style-type: none;
    padding:0;
    margin:0;
}
.fileBrowser-list:after{
    clear: both;
    content:'';
    display: block;
}
.fileBrowser-directory{
    width: 10em;
    height:10em;

}
.fileBrowser-directory:before{
    background: #d0ad41;
    content: '';
    display: block;
    position: absolute;
    left:10%;
    height:10%;
    bottom:80%;
    width:30%;
}
.fileBrowser-directory:after{
    content: '';
    display: block;
    height:60%;
    width:80%;
    left:10%;
    bottom:20%;
    position: absolute;
    background: #dabe37;
}

.fileBrowser-file{
    width: 10em;
    height:10em;
}

.fileBrowser-file figure{


    width:80%;
    height:60%;
    position: absolute;
    bottom:20%;
    left:10%;
    text-align: center;
}
.fileBrowser-file figure i,
.documento i {
    font-size: 3em;
    line-height: 2.5em;
}
.fileBroswer-entry{
    float: left;
    margin:0.5em;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;


}
.fileBroswer-entry:after{
    transition: all 200ms;
}
.fileBroswer-entry h5{
    font-size: 0.9em;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;

    position: absolute;

    width: 100%;
    bottom:0;
}

.drag-over:after{
    transform: rotate3d(1, 0, -0.2, 30deg) translate(-7%,14%);
}

.fileBrowser-navigation .btn{
    background: #fff;
    margin: 0.5em;
    color: #000;
    border: 1px solid #ddd;
}
.fileBrowser-navigation .btn:hover{
    background: #fafafa;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);

}
.fileBrowser-navigation{
    border-bottom:1px solid #ccc;
}

.thumbnail-actions .btn{
    color:#fff;
}
.thumbnail-actions{
    position: absolute;
    width: 100%;
    background: rgba(0,0,0,0.8);
    bottom: 0;
    color: #fff;
    text-align: center;
}
.form-group{
    margin-bottom: 1rem;
    padding: 1em;
    border-radius:5px;
    display: flex;
}

.form-group:hover{
    background: #fafafa;
}
.form-group:focus-within{
    background: #efefef;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.05), 0px 0px 0px 1px rgba(0,0,0,0.1);
}
.form-group label {
    font-weight: bold;
    display: flex;
    /* flex: 1; */
    margin-right: 20px;
    flex-basis: 30%;
    text-transform: capitalize;
    flex-direction: column;
}
.input-group{
    background: #fff;
    display: flex;
    flex: 1;
    align-self: baseline;
}
.right-panel{
    max-height: 100vh;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
}


.right-panel header.header{
    background: #393939;
    position: sticky;
    top: 0;
    z-index: 99;
}
.right-panel > .content{
    overflow: auto;
}
.open .right-panel{
    margin-left: 0;
}

.search-trigger,.header-left .dropdown .dropdown-toggle{
    color: #fff;
}


@media (max-width: 900px) {
    .navbar .navbar-brand{
        margin-top: 4px!important;
        min-height: inherit;
        width: 40px;
        padding: 0;
        height: 30px;
        background: transparent;
        margin-left: 8px;
    }
    aside.left-panel{
        width:100%;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }
}

.header-left .dropdown .dropdown-menu{
    top: 46px !important;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    padding: 0;
    background: #fcfcfc;

}
.header-left .dropdown .dropdown-menu header{
    border-bottom: 1px solid #ddd;
    text-align: center;
    background: #fff;
    position: sticky;
    top: 0;
    padding: 5px;

}
.header-left .dropdown .dropdown-menu header:before{
    content: "";
    border: 10px solid transparent;
    border-bottom: 5px solid #fff;
    position: absolute;
    bottom: 100%;
    left: 15px;
}
.header-left .dropdown .dropdown-menu .dropdown-item{
    border-bottom: 1px solid #fafafa;
}
.header-left .dropdown .dropdown-menu .dropdown-item:hover{
    background: rgba(0,0,0,0.05);
}
.for-notification .dropdown-menu {
    width: 20em;
    height: 20em;
}
.for-notification .dropdown-menu .dropdown-item p{
    font-size: 12px;


}

.left-panel .nav li.active{
    border-left: 5px solid #e16c08;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.01);
}
.table td, .table th {
    padding: 1rem;
}

.table-striped tbody tr:hover {
    background-color: #ffe4c2;
}

.right-aside{
    display: table-cell;
    width: 200px;
    background: #f5f5f5;
    border-left: 1px solid #ddd;
}

body{
    background: #fcfcfc;
}
.content{
    margin: 0!important;
    padding: 0!important;
}
.card{
    background: transparent;
    border:none;
    box-shadow:none;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border:none;
    color: #495057;
    background-color: transparent;
    border-color: transparent;
    box-shadow: 0px -3px #e16c08 inset,0px 3px #e16c08;
    font-weight: bold;
}

.nav-link {
    display: block;
    padding: 1rem 1rem;
}

#userAreaToggle{
    margin: -2px -57px 0 30px;
}