{% extends "base/template.twig" %}

{% block content %}
<br>

<h1 class="ama text-center">Musica</h1>
<br>

<div class="container">
    <p>
        Quisque odio orci, rutrum ut rutrum eget, mollis vitae quam. Suspendisse id convallis elit. Cras sit amet arcu ac ante semper molestie. Vivamus sed mauris eget augue facilisis vehicula in et metus. Pellentesque id egestas tellus, a laoreet orci. Etiam ultricies urna vel eros tincidunt, sed volutpat ante sagittis. Curabitur luctus tortor ut enim auctor tempus. Fusce cursus id justo in ultricies. Etiam in dui eget orci dictum blandit. Sed nisi lectus, scelerisque ut nunc sed, ornare ullamcorper ex. Nunc ullamcorper sit amet mi non iaculis. Nam ornare posuere placerat.
    </p>
</div>

<br>
<br>
<div class="container">

    <article class="album">
        <div class="row">
            <div class="col-md-4">
                <img src="/media/album/la-stessa-condizione/cover.jpg"   style="vertical-align: initial">

            </div>
            <div class="col-md-4">
                <h2>La stessa condizione EP ( 2012)</h2>
                <p>
                    "La stessa condizione" è il primo EP ufficiale registrato da phomea nel 2012 e uscito per etichetta SalmoneRec.
                    E' stato realizzato con una formazione a tre elementi :

                </p>
                <ul>
                    <li>Fabio Pocci : voce - chit acustica - pianoforte - batteria</li>
                    <li>Raffaele Baccolini: chitarra - cori - loop</li>
                    <li>Matteo Giomi : basso - batteria</li>
                </ul>
            </div>
            <div class="col-md-4">
                <iframe style="width: 100%;" src="https://open.spotify.com/embed/album/6tpf7Cdjb04OwjoJX8DDk5" width="260" height="350" frameborder="0" allowtransparency="true"></iframe>
            </div>
        </div>
    </article>
    <video autoplay width="100%" loop>
        <source src="/media/album/la-stessa-condizione/lastessacondizione-registrazioni.mp4" type="video/mp4">
    </video>
</div>
{% endblock content %}