<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="/backend/theme/assets/css/normalize.css">
    <link rel="stylesheet" href="/backend/theme/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="/backend/theme/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


    <link rel="stylesheet" href="/backend/theme/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/backend/theme/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="/backend/theme/assets/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="/backend/theme/assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="/backend/theme/assets/scss/style.css">
    <link href="/backend/theme/assets/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700" rel="stylesheet">


    <link rel="stylesheet" href="/backend/assets/css/custom.css">

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->


    <script src="/backend/theme/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="/backend/theme/assets/js/plugins.js"></script>
    <script src="/backend/theme/assets/js/main.js"></script>

    <script src="/backend/theme/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="/backend/theme/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="/backend/theme/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="/backend/theme/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="/backend/theme/assets/js/lib/data-table/jszip.min.js"></script>
    <script src="/backend/theme/assets/js/lib/data-table/pdfmake.min.js"></script>
    <script src="/backend/theme/assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="/backend/theme/assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="/backend/theme/assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="/backend/theme/assets/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="/backend/theme/assets/js/lib/data-table/datatables-init.js"></script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script
            src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
            integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
            crossorigin="anonymous"></script>


    <style>
        {{ additional_css|raw }}
    </style>
    {% block styles %}
    {% endblock %}

    <script src="/backend/assets/js/forms.js"></script>
    <script src="/backend/assets/js/main.js"></script>
    <script src="/backend/assets/js/image.js"></script>


</head>
<body>

{% include "parts/left-panel.twig" %}

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    {% include "parts/header.twig" %}

    {% include "parts/breadcrumbs.twig" %}

    <div class="content mt-3">

        {% block content_notification %}
        <!--<div class="col-sm-12">
            <div class="alert  alert-success alert-dismissible fade show" role="alert">
                <span class="badge badge-pill badge-success">Success</span> You successfully read this important alert message.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>-->
        {% endblock %}


        {% block beforeContent %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block afterContent %}
        {% endblock %}

    </div> <!-- .content -->
</div><!-- /#right-panel -->

<!-- Right Panel -->







{% block scripts %}
{% endblock %}
<script type="text/javascript">
    (function ($) {
        $(document).ready(function() {
            $('#bootstrap-data-table-export').DataTable();
        } );
    })(jQuery);

</script>

<!--
<script src="/backend/theme/assets/js/lib/chart-js/Chart.bundle.js"></script>
<script src="/backend/theme/assets/js/dashboard.js"></script>
<script src="/backend/theme/assets/js/widgets.js"></script>
<script src="/backend/theme/assets/js/lib/vector-map/jquery.vmap.js"></script>
<script src="/backend/theme/assets/js/lib/vector-map/jquery.vmap.min.js"></script>
<script src="/backend/theme/assets/js/lib/vector-map/jquery.vmap.sampledata.js"></script>
<script src="/backend/theme/assets/js/lib/vector-map/country/jquery.vmap.world.js"></script>
<script>
    ( function ( $ ) {
        "use strict";

        jQuery( '#vmap' ).vectorMap( {
            map: 'world_en',
            backgroundColor: null,
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#1de9b6',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: [ '#1de9b6', '#03a9f5' ],
            normalizeFunction: 'polynomial'
        } );
    } )( jQuery );
</script>
-->
</body>
</html>
