{% extends "main/widgets/views/widget_base.twig" %}
    {% block content %}

<div class="card">
    <div class="card-body">
        <div class="stat-widget-one">
            <div class="stat-icon dib"><i class="fa fa-file-alt text-success border-success"></i></div>
            <div class="stat-content dib">
                <div class="stat-text">Pagine totali</div>
                <div class="stat-digit">{{ count }}</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}