<dt class="item"><a href="{{ urlManager.frontend("shopMatrimonio") }}" class="btn-main line">Matrimonio</a></dt>
<dd class="item-content">
    <div class="megamenuClose">
    </div>


    <div class="navbar-main-submenu">
        <div class="wrapper-border">
            <div class="row">
                <!-- caregories -->
                <div class="col-sm-12 col-md-9">
                    <div class="row">
                        {% include 'base/header/menu/menu-matrimoni.twig' %}
                    </div>
                </div>
                <!-- //end caregories -->
                <!-- html block -->
                <div class="col-md-3 hidden-sm hidden-xs">
                    <div class="img-fullheight">
                        <img class="img-responsive" src="/assets/images/menu/matrimoni.png" style="opacity:0.2" alt="">
                    </div>
                </div>
                <!-- //end html block -->
            </div>
        </div>
    </div>

    <div class="row col-divider">

        <div class="col-xs-12">
            <h5>ORGANIZZARE IL MATRIMONIO PERFETTO</h5>
            <p>
                Nicola Santini , giornalista esperto di bon ton e autore di “ domani mi sposo ! Manuale completo per un matrimonio “ ha indicato , all’interno del suo decalogo di comportamento , l’utilizzo categorico delle care vecchie partecipazioni cartacee , le quali devono rigorosamente essere spedite , come da tradizione , via posta . assolutamente out inviarle via mail o tramite sms
            </p>
        </div>
    </div>


</dd>
