<div class="divider-lg">
</div>
<div class="divider-lg">
</div>
<div class="text-center">
    <div class="big-icon">
        <span class="icon flaticon-shopping185"></span>
    </div>
    <div class="ash1">Il tuo carrello è vuoto <span class="sub-header">Non hai oggetti nel carrello.</span></div>
    <div class="divider-lg">
    </div>
    <a href="#" class="btn btn-cool btn-lg">TORNA ALLO SHOPPING </a>
</div>
<div class="divider-lg">
</div>
<div class="divider-lg">
</div>
<div class="divider-lg">
</div>
<div class="divider-lg">
</div>
<div class="divider-lg">
</div>
<div class="divider-lg">
</div>
<div class="divider-lg">
</div>
