{% extends "base/template.twig" %}

{% block content %}
<main style="padding-top: 100px">
    <div class="container">
        {% include "ecommerce/checkout/parti/form-registrazione.twig" %}
    </div>
</main>

{% endblock %}