<!-- Footer -->
<div class="bg-dot hh2"></div>
<footer>
    <div id="" class="ini open">
        <div class="footer-navbar">
            <div class="container">
                <!--<div class="arrow link hidden-xs hidden-sm">
                  <i class="icon flaticon-down14"></i>
                </div>-->
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="inside logofooter">
                            <a href="/">
                                <img class="logo" src="/assets/img/logo/logo-lab.png" alt="DivaniLab">
                            </a>
                            <div class="socialicons">
                                <a href="#" title="Seguici su Facebook" target="_blank" class="mr-5"><span class="fab fa-facebook fa-2x"></span></a>
                                <a href="#" title="Seguici su Instagram" target="_blank" class="mr-5"><span class="fab fa-instagram fa-2x"></span></a>
                                <a href="#" title="Seguici su YouTube" target="_blank" class="mr-5"><span class="fab fa-youtube fa-2x"></span></a>
                                <a href="#" title="Seguici su LinkedIn" target="_blank" class="mr-5"><span class="fab fa-linkedin fa-2x"></span></a>
                            </div>
                        </div>
                    </div>


                    {% for item in frontend.menu.footer.items %}

                        {% if item.items %}

                        <div class="col-12 col-md-3">
                            <div class="inside">
                                <h3><span class="link">{{ item.nome }}</span></h3>
                                <div class="tabBlock" id="TabBlock-1">
                                    <ul class="menu">

                                        {% for item in item.items %}
                                            <li><a href="{{ item.link }}">{{ item.label }}</a></li>
                                        {% endfor %}
                                </div>
                            </div>
                        </div>

                        {% endif %}


                    {% endfor %}


                    <!--
                    <div class="col-12 col-md-3">
                        <div class="inside">
                            <h3><span class="link">DIVANI LAB</span></h3>
                            <div class="tabBlock" id="TabBlock-1">
                                <ul class="menu">
                                    <li><a href="#">Chi Siamo</a></li>
                                    <li><a href="#">Qualità Artigianale</a></li>
                                    <li><a href="#">Dove Siamo</a></li>
                                    <li><a href="#">Contattaci</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="inside">
                            <h3><span class="link">GUIDA AI PRODOTTI</span></h3>
                            <div class="tabBlock" id="TabBlock-2">
                                <ul class="menu">
                                    <li><a href="/campione-gratuito">Nuova Collezione</a></li>
                                    <li><a href="/collabora-con-noi">Outlet &amp; Pronta Consegna</a></li>
                                    <li><a href="/personalizzazione">Rivestimenti in Pelle</a></li>
                                    <li><a href="/personalizzazione">Rivestimenti in Eco-Pelle</a></li>
                                    <li><a href="/personalizzazione">Rivestimenti in Tessuto</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="inside">
                            <h3><span class="link">SPEDIZIONI &amp; CONDIZIONI</span></h3>
                            <div class="tabBlock" id="TabBlock-3">
                                <ul class="menu">
                                    <li><a href="/campione-gratuito">Condizioni di Vendita</a></li>
                                    <li><a href="/collabora-con-noi">Tempi di Spedizione</a></li>
                                    <li><a href="/personalizzazione">Modalità di Consegna</a></li>
                                    <li><a href="/personalizzazione">Diritto di Recesso</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>-->


                </div>


                <!-- <div class="collapsed-block">
                   <div class="inside">
                     <h3> </h3>
                     <div class="tabBlock" id="TabBlock-6">
                       <ul class="menu menu-icon">
                         <li><span class="icon flaticon-home113"></span>VIA RENATO FUCINI, 7</li>
                         <li><span class="icon flaticon-phone163"></span>0572 73463</li>

                       </ul>
                     </div>
                   </div>
                 </div>

                   -->
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 copyright">
                        © 2017 <a href="#">Divani lab</a>. All Rights Reserved.
                    </div>
                    <div class="col-md-4">
                        <ul class="payment-list pull-right">
                            <li><img src="/assets/images/icon-payment-01.png" width="36" height="22" alt=""></li>
                            <li><img src="/assets/images/icon-payment-02.png" width="36" height="22" alt=""></li>
                            <li><img src="/assets/images/icon-payment-03.png" width="36" height="22" alt=""></li>
                            <li><img src="/assets/images/icon-payment-04.png" width="36" height="22" alt=""></li>
                            <li><img src="/assets/images/icon-payment-05.png" width="36" height="22" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="container aiosafooter">
                <a title="web-design aiosa web agency" href="https://aiosa.net">web-design</a> by Web Agency <a id="madebyaiosa" title="Web Agency Pistoia" href="https://aiosa.net">Aiosa</a>


                <script>
                    (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0];
                        if (d.getElementById(id)) return;
                        js = d.createElement(s); js.id = id;
                        js.src = "https://aiosa.net/external/aiosa-sdk.js";
                        fjs.parentNode.insertBefore(js, fjs);
                    }(document, 'script', 'aiosasdk'));

                </script>

            </div>
        </div>
    </div>
</footer>