{% extends "base.twig" %}

{% block content %}



    <div class="content mt-3">

        <div id="widget-disponibili" class="bg-dark text-white" style="height: 200px;position: relative;">
            <div class="float-right p-3">
                <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#widget-disponibili"><i class="fas fa-plus"></i> </button>
            </div>
            <br clear="both">

            <div class="container">
                <div class="row pt-3">
                {% for widget in widgetDisponibili %}
                    <div class="col-md-3">
                        <a href="{{ router_service.getRoute(widget.getEntity()~".add").build({
                            class : widget.getClass()
                        }) }}">
                        <div class="p-3" style="border: 1px solid rgba(255,255,255,0.4);background: rgba(255,255,255,0.1);border-radius: 5px;">
                            <i class="fa fa-plus mr-3"></i>
                            {{ widget.getWidgetLabel() }}
                            <i class="fa fa-info mr-3  float-right"></i>
                        </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
            <br clear="both">
        </div>

        
        {% for widget in widgets %}


                {{ widget.render() }}
        

        {% endfor %}





    </div> <!-- .content -->


{% endblock %}