{% extends "blog/category.twig" %}
{% set title = "Ultimi articoli dal blog Melaverde" %}

{% block titolo %}
    <h2>Ultimi articoli del blog MelaVerde</h2>
{% endblock %}
{% block descrizione %}{% endblock %}