{% set matrimoni = clmanager.catalog.matrimoni %}

<div class="navbar-main-menu-outer">
    <div class="container">

        <div class="row">

            <div class="col">
                <div class="navbar-main-menu">


                    <dt class="item" class="hidden-xs"><a href="/" class="btn-main"><span
                                    class="fas fa-home"></span></a></dt>
                    <dd class="hidden-xs">

                    </dd>

                    <div class="item">
                        <a href="/shop/matrimoni" class="btn-main line">Matrimonio</a>
                        <dd class="item-content">


                            <div class="navbar-main-submenu">
                                <div class="container">
                                    <div class="row">
                                        <!-- caregories -->
                                        <div class="col-sm-12 col-md-12">
                                            <div class="row">


                                                <div class="col-xs-6 col-md-4 col-lg-3">

                                                    {% for categoria in matrimoni.children %}
                                                    <div class="submenu-block">
                                                        <!--<span class="icon"><img src="images/icon-category1.png" alt=""></span>-->

                                                        <a class="name"
                                                           href="{{ clmanager.catalog.getCategoryLink(categoria) }}">{{ categoria.name }}</a>


                                                        <p><a  href="{{ clmanager.catalog.getCategoryLink(categoria)}}">sadasdas asd dsa as</a></p>
                                                        {#
                                                        <?php
                                                        $c = CLCategoria::findByNomemacchina($key);


                                                        if ($c && count($c) > 0) {


                                                        ?>
                                                        <p>
                                                            <a href="<?= CLCatalog::getCategoryLink($value) ?>"><?= $c[0]->descrizione_breve ?></a>
                                                        </p>
                                                        <?php
                                                        } else {
                                                            ?>
                                                        <p>
                                                            <a href="<?= CLCatalog::getCategoryLink($value) ?>">Categoria <?= $value['name'] ?></a>
                                                        </p>
                                                        <?php
                                                        }
                                                        ?>
                                                        #}
                                                    </div>


                                                    {% if loop.index % 2 == 0 and loop.index != 0 %}
                                                </div>
                                                <div class="col-xs-6 col-md-4 col-lg-3">
                                                    {% endif %}
                                                    {% endfor %}

                                                </div>

                                            </div>
                                        </div>
                                        <!-- //end caregories -->
                                        <!-- html block -->
                                        <div class="col-md-3 hidden-sm hidden-xs">
                                            <div class="img-fullheight">
                                                <!--<img class="img-responsive" src="images/menu/matrimoni.png" style="opacity:0.2"
                                                     alt="">-->
                                            </div>
                                        </div>
                                        <!-- //end html block -->
                                    </div>


                                    <div class="row col-divider">


                                        <div class="col">
                                            <h5>ORGANIZZARE IL MATRIMONIO PERFETTO</h5>
                                            <p>
                                                Nicola Santini , giornalista esperto di bon ton e autore di “ domani mi sposo ! Manuale
                                                completo per un matrimonio “ ha indicato , all’interno del suo decalogo di comportamento ,
                                                l’utilizzo categorico delle care vecchie partecipazioni cartacee , le quali devono
                                                rigorosamente essere spedite , come da tradizione , via posta . assolutamente out inviarle
                                                via mail o tramite sms
                                            </p>

                                        </div>
                                    </div>
                                </div>

                            </div>




                        </dd>
                    </div>

                    <div class="item"><a href="/shop/comunioni" class="btn-main"> Comunioni</a></div>


                    <div class="item"><a href="/shop/natale" class="btn-main"> Natale</a></div>


                    <div class="item"><a href="/collaborazione-save-the-children" class="btn-main"> Save the children</a></div>

                    <div class="item"><a href="/faq" class="btn-main"> FAQ</a></div>


                    <div class="item"><a href="/contatti" class="btn-main"> Contatti</a></div>


                    <div class="item"><a href="<?= \echidna\entities\Blog::getBaseUrl() ?>" class="btn-main"> Blog</a></div>



                    <!--<dt class="item"><a href="/campione-gratuito" class="btn-cool"><span class="icon flaticon-gift1"></span> Campioni omaggio</a></dt>
                    <dd></dd>-->

                </div>
            </div>

            <div class="col-2 top-icons">

                <a href="#" class="btn btn-xs btn-default btn-search" data-toggle="dropdown">
                    <span class="fas fa-search"></span>
                </a>



                <a href="/carrello" class="btn btn-xs btn-default btn-shopping-cart"><span class="fas fa-shopping-cart"></span></a>




                <a href="/campione-gratuito" class="btn btn-xs btn-default btn-gift">

                    <span class="fas fa-gift"></span>
                </a>

            </div>

        </div>





    </div>
</div>



