{% extends "applications/login/templates/reset.password.twig" %}

 {% block content %}
     <input type="hidden" name="sid" value="{{ utente.sid }}">
     <div class="reset-password">
         <h2 class="pl-3">Reset password</h2>

         <div class="form-group full">
             <label>Inserisci la nuova password</label>
             <input type="password" name="password" class="form-control" placeholder="">
         </div>
         <div class="form-group full">
             <label>Ripeti la password</label>
             <input type="password" name="password_check" class="form-control" placeholder="">
         </div>
     </div>


     <button type="submit" class="btn btn-primary">Salva nuova password</button>
 {% endblock %}



