<div class="  shareicons">
    <strong>Condividi</strong>
    <a target="_blank" href="http://www.facebook.com/sharer.php?u={{ current_url }}"><i class="fab fa-facebook-square"></i></a>
    <a target="_blank" href="https://plus.google.com/share?url={{ current_url }}"><i class="fab fa-google-plus-square"></i></a>
    <a target="_blank" href="http://twitter.com/share?url={{ current_url }}&hashtags=melaverderecords"><i class="fab fa-twitter"></i></a>
    <a href="whatsapp://send?text=Guarda questo su MelaVerde Records -- {{ current_url }}!"><i class="fab fa-whatsapp"></i></a>
</div>