{% extends "base/template.twig" %}

{% block content %}
    {% block topcontent %}
    {% endblock %}
    <main>
        <div class="container">

            {% block innercontent %}
            <div class="row">

                <div class="col">
                    <div class="row">
                        {% for prodotto in prodotti %}
                        <div class="col-md-6 mb-5">
                            {% include "ecommerce/product/thumbnail-preview.twig" with {prodotto : prodotto} %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {% endblock %}

        </div>
    </main>
{% endblock %}