<div class="" style="width: 100%">
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Nome variabile</label>
                <input placeholder="Nome" class="form-control">
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label>Tipo richiesto</label>
                <select class="form-control">
                    <option>testo</option>
                    <option>html</option>
                    <option>select</option>
                </select>
            </div>
        </div>
        
    </div>
    <div>
            <button type="button" class="btn btn-primary btn-sm">Aggiungi dato</button>
    </div>
</div>