
<div class="products-nospace-outer gallery">
    <div class="products-nospace products-isotope">


        {% for value in contenuto %}

            <div class="product-preview category1">
                <img src="{{ value }}" alt="">
                <div class="hover">
                    <div class="inside">
                        <h3 class="title"><a href="/shop/matrimoni">Lasciati ispirare per il tuo matrimonio</a></h3>

                    </div>

                </div>
            </div>

        {% endfor %}
    </div>
</div>
