{% extends "ecommerce/shop/list.twig" %}


  {% block topcontent %}
      <div class="category-top">
          <img src="{{ categoria.immagine}}" class="cover">
          <div class="container">
            <h1 class="category-title">{{ categoria.nome }}</h1>
            <h2 class="category-description">{{ categoria.slogan|raw }}</h2>
          </div>
      </div>

      <div class="container">
          <div class="text-center mb-5">
              <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate orci convallis hendrerit varius.
                      Quisque eu molestie ex. Aenean non mattis sem, vel efficitur nisl. Sed in ex commodo, tempor est ac, scelerisque lacus. Curabitur luctus felis tempor sem dapibus.</em></p>
          </div>

      </div>


  {% endblock %}



    {% block innercontent %}
        {% if prodotti|length == 0 %}
            <h2 class="text-center">Ci dispiace! Sembra che non ci siano ancora prodotti in questa categoria!</h2>
        {% else %}
            {{ parent() }}
        {% endif %}
    {% endblock %}
