{% extends "base/template.twig" %}

{% block content %}
    {% block topcontent %}
    {% endblock %}
    <main>
        <div class="container">

            <div class="row">

                <div class="col">
                    <div class="row">
                        {% for prodotto in prodotti %}
                        <div class="col-6">
                            {% include "ecommerce/product/thumbnail-preview.twig" with {prodotto : prodotto} %}s
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}