{% extends "base/template.twig" %}

{% block content %}
    <main style="padding-top: 200px">
        <div class="container">
            <div class="row">
                <div class="col-10 offset-1">

                    <form method="post">
                        {% include "ecommerce/checkout/parti/form-spedizione.twig" with {
                            cliente:cliente,
                            spedizioniDisponibili   :   spedizioniDisponibili,
                            provincieDisponibili    :   provincieDisponibili,
                            indirizzoSpedizione     :   indirizzoSpedizione
                        } %}
                    </form>

                </div>
            </div>
        </div>
    </main>

{% endblock %}